@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&subset=cyrillic');
@import url('css/font-awesome.min.css');
body {
	font: 16px 'Open Sans', arial, sans-serif;
	background:#fff;
	overflow-x:auto;
	color: #404041;
}
html, body {
	width:100%;
	height:100%;
	min-width: 960px;
}
* {
	margin:0;
	padding:0;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	/* -moz-transition: color 0.1s; 
	-webkit-transition: color 0.1s;
	transition: color 0.1s; */
}
.no-scroll {overflow:hidden;}
.clear {clear:both;}
.clearfix:after {
    font-size: 0px;
    content: ".";
    display: block;
    height: 0px;
    visibility: hidden;
    clear: both;
}
a {color:#1085ca;outline:none;text-decoration:none;}
a img {border:none;}
img, input, textarea, button{max-width:100%; height: auto;}
.container a:hover {color:#c9cbcc;}
input:focus, button:focus, textarea:focus  {outline:none;}
h1 {font-size:4.15em;font-weight:600;}
h2, strong, h3 {font-weight: 600;}
ul  {list-style:none;}

/*************************/

.container {
	overflow:hidden;
}
/*	header	*/
.header {
	padding:15px 40px;
	border-bottom: 2px solid #c9cbcc;
}
.main_page .header, .page404 .header {border: none;}
.header ul {display:inline-block;vertical-align: bottom;}
.header li {display:inline-block;margin-left:30px;}
.header a {color:#333;}
.header a:hover {color:#1085ca;}
.logo {
	display:inline-block;
	vertical-align: bottom;
	font-size: 34px;
	line-height: 30px;
	margin-right: 40px;
}
.h-right {
	float: right;
	text-align: right;
}
.h-lang, .h-links {
	display: inline-block;
	vertical-align: middle;
}
.h-links a {
	font-size: 12px;
}
.h-lang a {
	padding: 5px;
	line-height: 0px;
	border: 1px solid #000;
	border-radius: 2px;
	margin-left: 5px;
}

/*	content	*/
.main_page {
	height: 100%;
	overflow: hidden;
	background: url(img/index.jpg) no-repeat 100%/cover;
	text-align: center;
}
.main_page .main {
	padding: 100px 20px 40px;
}
.main_page h1 {
	color:#404041;
	margin: 0 0 70px;
}
.main_page h1 span {
	color:#1085ca;
	border-bottom: 1px solid #1085ca;
	text-transform: uppercase;
}
.btn {
	display: inline-block;
	vertical-align: middle;
	background:#1085ca;
	border: 1px solid #1085ca;
	border-radius: 1px;
	color:#fff;
	font-size: 21px;
	padding: 13px 30px;
	margin: 0 20px;
	text-transform: uppercase;
	white-space: nowrap;
}
.btn .fa-angle-right {margin-left: 10px;}
.btn .fa-angle-left {margin-right: 10px;}
a.btn:hover {
	background: #fff;
	color:#1085ca;
}
.breadcrumbs {margin-bottom: 20px;}
.breadcrumbs a {
	color:#000;
	text-decoration: underline;
	padding-right: 3px;
}
.breadcrumbs span {
	color: #c9cbcc;
}
.main_page-help {
	position: absolute;
	text-align: center;
	bottom: 100px;
	color:#fff;
	left:0;
	right:0;
	margin: 0 auto;
}
.help-ico {
	font-size: 22px;
	background: #1085ca;
	display: inline-block;
	padding: 5px;
	line-height: 0px;
	border-radius: 1px;
	margin-bottom: 10px;
}
.page404 .main {
	background:#1085ca;
	color:#fff;
	text-align: center;
	padding: 60px 20px;
}
.page404 h1 {
	text-transform: uppercase;
	font-size: 3em;
}
.page404 h1 span {
	font-size: 1.5em;
}
.page404 p {
	border-top: 1px solid #fff;
	width: 350px;
	margin: 0 auto;
	text-align: left;
	padding-top: 5px;
	font-size: 20px;
	position: relative;
}
.not_found-img {
	margin:-70px -110px 0 0;
}
.inner_page .main {
	width: 960px;
	margin:0 auto;
	padding: 30px 0;
}
.inner_page h1, .example-block h2 {
	color:#1085ca;
	font-size: 2.16em;
	text-align: center;
	text-transform: uppercase;
}
.inner_page h1 span {
	color:#333;
	text-transform: none;
	display: block;
}
.inner_page h1:after, .example-block h2:after {
	content: "";
	width: 120px;
	height: 3px;
	background:#1085ca;
	margin: 20px auto 50px;
	display: block;
}
.contacts-left {
	float: left;
	width: 50%;
}
.contacts-left li {
	margin: 25px 0;
	padding-left: 40px;
} 
.contacts-left strong {display: block;}
.contacts-right {
	float: right;
	width: 50%;
	border: 2px solid #c9cbcc;
}
.contacts-form_header {
	background:#c9cbcc;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}
.contacts-right form {
	padding: 20px;
}
input[type=text], textarea {
	display: block; 
	border:none;
	border-bottom: 1px solid #c9cbcc;
	width: 100%;
	padding: 15px 0;
	margin-bottom:5px;
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
}
.contacts-right button, .tech-form button {
	border: 1px solid #1085ca;
	padding: 10px 30px;
	background:#fff;
	color: #1085ca;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 21px;
	margin: 30px 0 0;
	cursor: pointer;
	font-family: 'Open Sans', arial, sans-serif;
}
.contacts-right button:hover, .tech-form button:hover {
	background:#1085ca;
	color: #fff;
}
.contacts-right button .fa, .tech-form button .fa {margin-left: 10px;}
.catalog_desicion-list:after {
	content: "";
    height: 1px;
    background: #fff;
    position: relative;
    visibility: visible;
    top: -1px;
}
.catalog_desicion {
	float: left;
	width: 50%;
	border-right:1px solid #c9cbcc;
	border-bottom: 1px solid #c9cbcc;
	padding: 20px;
} 
.catalog_desicion:nth-child(2n) {
	border-right:none;
}
.catalog_desicion-img {
	height: 120px;
	overflow: hidden;
	text-align: center;
	padding-bottom: 20px;
}
.catalog_desicion-img img {
	max-height: 100%;
} 
.catalog_desicion-header {
	text-transform: uppercase;
	padding: 0 20px 0 60px;
	border-bottom: 2px solid #1085ca;
	height: 55px;
	font-weight: 600;
	font-size: 19px;
} 
.catalog_desicion p {
	height: 110px;
	overflow: hidden;
	margin: 10px 0 20px;
}
.catalog_desicion .btn {
	padding: 5px 20px;
	font-weight: normal;
	font-size: 17px;
	margin: 0;
}
.product-descrption {
	padding: 50px 0px;
	display: table;
	position: relative;
	border-bottom: 1px solid #c9cbcc;
}
.product-img {
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	width: 30%;
}
.product-desc {
	display: table-cell;
	vertical-align: top;
	padding-bottom: 110px;
	position: relative;
	width: 70%;
}
.product-desc h1 {
	text-align: left;
	text-transform: none;
	font-size: 1.65em;
}
.product-desc h1:after {display: none;}
.product-desc .status {color:#ef8b1e}
.product-price{
	position: absolute;
	bottom: 0;
}
.product-price p {
	color: #1085ca;
	font-size: 2.4em;
    font-weight: 600;
}
.product-price .currency {
	font-size: 1.2em;
	display: inline-block;
	vertical-align: text-bottom;
    line-height: 1;
}
.product-desc .btn, .catalog_item-action .btn {
	text-transform: none;
	font-size: 17px;
	margin: 5px 0 0;
	padding: 8px 25px;
}
.features li {
	display: inline-block;
	margin-right: 30px;
	padding: 10px 0 15px;
}
.features a {
	color: #000;
    text-decoration: underline;
}
.features a.active, .features a:hover {
	color: #1085ca;
}
.features-desc {padding-bottom: 40px;}
.features-desc > div, .calc-accordion > div {display: none;}
.features-desc table, .calc-accordion table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}
.features-desc th, .features-desc td {
	padding: 8px 20px;
	border: 1px solid #c9cbcc;	
	vertical-align: top;
	text-align: left;
}
.features-desc th {
	text-transform: uppercase;
	color: #1085ca;
	font-weight: 600;
	font-size: 18px;
}
.features-desc tr:nth-child(even) {background:#eaeaeb;}

.calc-accordion {
	padding: 40px 0;
	max-width: 960px;
	margin: 0 auto;
}
.calc-accordion td {
	padding: 10px 20px;
	border: 1px solid #c9cbcc;	
	vertical-align: middle;
	text-align: center;
}
.calc-accordion th {
	padding: 10px 20px;
	background: #1085ca;
	color:#fff;
	border: 1px solid #1085ca;
	font-size: 1.5em;
	font-weight: 600;
}
.calc-accordion th  span {font-size: 1.5em;}
.calc-accordion th:first-child {
	background: #6cbee8;
	border-color: #6cbee8
}
.calc-accordion th:last-child {
	background: #1d7cad;
	border-color: #1d7cad
}
.calc-accordion td .fa {font-size: 2em;vertical-align: middle;}
.tafiff-cam_num td {
	font-weight: 600;
}
.calc-accordion p {margin: 5px 0;}
.tafiff-cam_num span {font-size: 1.8em;display: block;}
td.table-subheader {
	background: #ddecf3;
	padding: 15px;
}
.table-subheader .fa {color:#1085ca;}
#calc {position: relative;}
.calc-result {
	float: right;
	width: 340px;
	padding-bottom: 70px;
	text-align: center;
}
.calc-result p {
	text-transform: uppercase;
	color:#6d6e70;
	font-size: 31px;
	font-weight: 600;
	margin-top: 80px;
}
.calc-result .result-price {
	color:#1085ca;
	font-size: 31px;
	font-weight: 600;
}
.calc-field {
	padding: 30px 0 0 80px;
	position: relative;
}
.calc-field p {
	font-size: 20px;
}
.calc-field span {
	font-size: 30px;
	color:#1085ca;
	font-weight: 600;
}
.calc-field input[type=range] {
	width: 100%;
}
.result-price i {
	font-style: normal;
	font-size: 25px;
	font-weight: normal;
}
.calc-result .btn {
	position: absolute;
	bottom: 0px;    
	margin: 0 40px;
    display: block;
}
.calc-options {
	padding-right: 360px;
}
.land-header {
	background: #1085ca;
	color: #fff;
	padding: 20px;
}
.land-header h1,.tech-downloads h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 2.8em;
}
.land-header h1:after {
	content: "";
	width: 100px;
	height: 3px;
	background:#fff;
	margin: 20px auto 50px;
	display: block;
}
.tech-downloads h2:after {
	content: "";
	width: 100px;
	height: 3px;
	background:#1085ca;
	margin: 20px auto 40px;
	display: block;
}
.support {
	margin: -40px auto 0;
    width: 960px;
	font-size: 0px;
}
.support img {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}
.support > div {
	display: inline-block;
	vertical-align: middle;
	width: 49%;
	font-size: 20px;
}
.support h2 {
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	padding: 0 0 5px;
	margin-bottom: 10px;
	font-size: 1.5em;
}
.land-menu {
	max-width: 960px;
	margin: 0 auto -21px;
	font-size: 0px;
}
.land-menu li {
	display: inline-block;
	font-size: 14px;
}
.land-menu a {
	color:#fff;
	display: block;
	padding: 5px 20px;
	border: 1px solid #fff;
}
.land-menu a.active {
	background: #fff;
	color:#000;
}
.tech-form {
	width: 640px;
	margin: 50px auto;
	max-width: 100%;
	text-align: center;
}
.tech-form_header {
	text-transform: uppercase;
	color: #1085ca;
	margin-bottom: 30px;
	font-size: 1.25em;
}
.tech-downloads {
	padding: 40px 20px;
	background: #efefef;
	color: #1085ca;
	text-align: center;
}
.download-list-container {
	width: 960px;
	margin: 0 auto 20px;
}
.download-list {
	width: 33%;
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid #1085ca;
	padding: 10px 20px;
}
.download-list:last-child {border: none;}
.download-list_header {
	font-weight: bold;
	margin-bottom: 30px;
	font-size: 20px;
}
.download-list li {margin: 15px 0;}
.download-list .fa {
	font-size: 2em;
    vertical-align: middle;
}
.download-list span {
	margin-left: 10px;    
	display: inline-block;
    vertical-align: middle;
	color: #404041;
	text-decoration: underline;
}
.articles-wrap .article-item {
    border-bottom: 1px solid #cae6f3;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.article-item:last-child {
    border-bottom: none;
    padding: 0px;
}
.article-item .article-img {
    float: left;
    max-width: 165px;
}
.article-img img {
	border: 5px solid #cae6f3;
	border-radius: 100%;
}
.article-item .article-details {
	padding-left: 185px;
}
.article-details h2 {
	font-size: 20px;
}
.article-details p {
	margin: 25px 0;
}
.article-readmore {text-decoration: underline;}
.article-content img[align=left] {margin: 0 10px 10px 0;}
.article-content img[align=right] {margin: 0 0 10px 10px;}
.article-content p {margin: 0 0 1em;}
.filter {
	float: left;
	width: 250px;
}
.filter form {
	background: #2c91b3;
	color: #fff;
}
.bx-filter-parameters-box {
    border: 0;
    padding: 0;
}
.filter-grupp-h1-black {
	padding: 9px 30px 10px 20px;
	border-top: 1px solid #fff;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600;
	text-transform: uppercase;
	width: 100%;
	position: relative;
	cursor: pointer;
}
.filter-grupp-h1-black .fa {
	font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -11px;
	color: #fff;
}
.active .filter-grupp-h1-black {
	background: #fff;
	color: #2c91b3
}
.bx_filter_block {
	padding: 10px 20px;
	display: none;
}
.active .bx_filter_block {
	display: block;
}
.bx_filter_param_label {
	display: block;
	padding: 5px 0;
}
.field-hidden {
    display: none !important;
}
.field-pseudo-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.field-pseudo-checkbox:before {
    content: "\f0c8";
	font: normal normal normal 16px FontAwesome;
    display: inline-block;
	margin-right: 10px;
}
input[type='checkbox']:checked + .field-pseudo-checkbox:before {
    content: "\f14a";
}
.filter-btns {text-align: center;padding: 20px;}
.filter-btn {
	font-size: 17px;
	color:#fff;
	background: transparent;
	cursor: pointer;
}
.btn-find {
	border: 1px solid #fff;
	padding: 8px 40px;
	border-radius: 2px;
}
.btn-find:hover {
	background: #fff;
	color: #2c91b3;
}
.btn-reset {
	border: none;
	border-bottom: 1px solid #fff;
	margin: 20px 0;
}
.btn-reset:hover {border-color: transparent;}
.catalog-list {
	padding-left: 270px;
}
.catalog-top-filter {
	padding: 0 0 10px 270px;
	width: 100%;
	display: table;
}
.catalog-top-filter > div {
	display: table-cell;
	vertical-align: bottom;
}
.catalog-top-filter-right {
	text-align: right;
}
.catalog-top-filter ul {
	white-space: nowrap;
}
.catalog-top-filter li {
	display: inline-block;
}
.catalog-top-filter-left a {
	text-transform: uppercase;
	font-size: 14px;
	margin-right: 30px;
}
.catalog-top-filter-left a.active, .catalog-top-filter-right span  {
	color: #404041
}
.catalog-top-filter-right a {
	margin-left: 30px;
}
.catalog-top-filter-right .active span {
	border-bottom: 1px solid #404041;
}
.catalog-top-filter-right ul:first-child {margin-bottom: 20px;}

.list-view .catalog_list-item {
	border-top: 1px solid #c9cbcc;
	padding: 10px 0 20px;
	display: table;
	width: 100%;
	border-spacing: 0px;
}
.list-view .catalog_list-item > div {
	display: table-cell;
	vertical-align: middle;
}
.catalog_item-img {
	width: 160px;    
	padding: 10px;
}
.list-view .catalog_item-content {padding: 0 30px 0 10px;}
.catalog_item-content p {margin: 10px 0 0;}
.catalog_item-content a {
	font-size: 1.3em;
}
.catalog_item-content a:hover {
	text-decoration: underline;
}
.catalog_item-action p {
	color: #1085ca;
	font-size: 26px;
    font-weight: 600;
}
.catalog_item-action .currency {
	font-size: 1.2em;
	display: inline-block;
	vertical-align: text-bottom;
    line-height: 1;
}
.catalog_quantity_control {font-size: 0;margin: 15px 0;}
.catalog_quantity_control a {
	border: 1px solid #c9cbcc;
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	width: 35px;
	text-align: center;
	color: #c9cbcc;
}
.catalog_quantity_control input {
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #c9cbcc;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	text-align: center;
	margin: 0;
	font-size: 24px;
}
.tile-view .catalog_list-item {
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #c9cbcc;
	float: left;
	width: 33.333%;
	padding: 0 10px 20px;
}
.tile-view .catalog_list-item:nth-child(3n) {border-right: none;}
.tile-view  .catalog_item-img {height: 160px;}
.tile-view  .catalog_item-content {margin: 10px 0 20px;}
.tile-view  .catalog_item-action {
	text-align: center;
}
.catalog_list-items {border-bottom: 1px solid #c9cbcc;}


.about-header {
	background: url(img/about.jpg) 50%/cover;
	padding-bottom: 70px;
}
.cam-description {
	text-align: center;
}
.cam-description h2 {
	font-size: 35px;
	text-transform: uppercase;
	line-height: 44px;
	margin: 100px 0;
}
.cam-description h2 b {
	border-bottom: 2px solid #fff;
	font-weight: 600;
}
.cam-description h2 span {
	font-size: 23px;
	display: block;
}
.cam-description p {
	margin: 0 auto;
	width: 520px;
}
.about-block {
	background: #1085ca;
	color:#fff;
	text-align: center;
	padding: 40px 20px;
}

.about-block h2 {
	font-size: 2.16em;
    text-align: center;
    text-transform: uppercase;
}
.about-block  h2:after {
    content: "";
    width: 120px;
    height: 3px;
    background: #fff;
    margin: 20px auto 50px;
    display: block;
}
.example-block {
	padding: 40px 20px;
}
.examples {
	font-size: 0px;
	margin: 0 auto;
	width: 960px;
	max-width: 100%;
}
.example {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding: 0 20px 0 0;
	margin-top: 40px;
}
.example:nth-child(2n) {
	padding: 0 0 0 20px;
}
.example-header {
	color:#1085ca;
	font-size: 19px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 600;
}
.promo-block {
	margin: 100px auto 50px;
	width: 960px;
	max-width: 100%;
	text-align: center;
}
.promo-block h3 {
	font-size: 2.16em;
	line-height: 44px;
	margin-bottom: 50px;
	color:#1085ca;
}
/*	footer	*/
.f-bottom {
	background: #313132;
	padding: 10px;
	color:#c9cbcc;
	font-size: 14px;
}
.f-bottom > div, .f-menu > div, .header > div {
	width: 960px;
	margin: 0 auto;
	max-width: 100%;
}
.f-social {
	float: right;
}
.f-social a {
	color: #fff;
	font-size: 24px;
	margin-left: 15px;
	line-height: 0;
}
.f-social .fa {
	margin: -3px 0;
}
.f-menu {
	background: #3b4249 url(img/footer.jpg) repeat-x;
}
.f-column {
	float: left;
	width: 33%;
	padding: 30px 10px 50px;
}
.f-column-header {
	font-size: 21px;
	font-weight: bold;
	line-height: 44px;
	border-bottom: 1px solid #fff;
	color:#c9cbcc;
	text-transform: uppercase;
	margin-bottom:20px;
}
.f-column a {
	line-height: 30px;
	color:#fff;
}
.footer  a:hover {
	color: #c9cbcc;
}
@media screen and (max-width: 960px) {
	
	
}